name: Docs Doctrine

on:
  push:
    branches: [main]
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  doctrine:
    uses: alawein-org/alawein/.github/workflows/doctrine-reusable.yml@${workflow_pin_sha}
    with:
      strict: "true"
